<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:product="http://typo3.org/ns/Kurs/Products/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<h1>Product Import Summary</h1>

<p>Hello, here is the summary for your latest product import:</p>

<ul>
    <f:for each="{products}" as="product">
        <li>
            {product.title}
        </li>
    </f:for>
</ul>

</html>