<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:product="http://typo3.org/ns/Kurs/Products/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:if condition="{data.header}">
    <h1>{data.header}</h1>
</f:if>
<f:if condition="{data.bodytext}">
    <p>{data.bodytext -> f:format.html()}</p>
</f:if>

<div class="card">
    <f:if condition="{product.media}">
        <f:media file="{product.media.0}" class="card-img-top" />
    </f:if>
    <div class="card-body">
        <h2 class="card-title">
            {product.title}
        </h2>
        <span class="card-body">{product.price} €<br />{product.sku}</span>

        <f:if condition="{product.variations}">
            <ul>
                <f:for each="{product.variations}" as="variation">
                    <li style="color: {variation.color};">
                        {variation.title}
                    </li>
                </f:for>
            </ul>
        </f:if>
    </div>
</div>

<f:asset.css identifier="productSpotlightCss" priority="1" href="EXT:products/Resources/Public/Css/spotlight.css" />

</html>