<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:product="http://typo3.org/ns/Kurs/Products/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:flashMessages />

<f:form.validationResults>
    <f:if condition="{validationResults.flattenedErrors}">
        <ul class="errors">
            <f:for each="{validationResults.flattenedErrors}" as="errors" key="propertyPath">
                <li>{propertyPath}
                    <ul>
                        <f:for each="{errors}" as="error">
                            <li>{error.code}: {error}</li>
                        </f:for>
                    </ul>
                </li>
            </f:for>
        </ul>
    </f:if>
</f:form.validationResults>

<f:form action="update" name="product" object="{product}" enctype="multipart/form-data">
    <div class="form-group mb-3">
        <f:form.textfield property="title" class="form-control" />
    </div>
    <div class="form-group mb-3">
        <f:form.textfield property="price" class="form-control" />
    </div>

    <f:form.submit value="Absenden" />
</f:form>

</html>