<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:product="http://typo3.org/ns/Kurs/Products/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:if condition="{settings.header}">
    <h1>{settings.header}</h1>
</f:if>

<ul>
    <f:for each="{products}" as="product">
        <li>
            <f:link.action action="show" arguments="{product: product}">
                {product.title}
            </f:link.action>
        </li>
    </f:for>
</ul>

<div class="d-flex">
    <f:for each="{categories}" as="category">
        <f:link.action
            action="list"
            arguments="{filterByCategory: category}"
            class="badge bg-secondary ms-2 text-decoration-none"
        >
            {category.title}
        </f:link.action>
    </f:for>
</div>

<f:link.action action="create">Neu</f:link.action>


</html>