<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:product="http://typo3.org/ns/Kurs/Products/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:flashMessages />

<f:link.action action="list">< Zurück</f:link.action>

<div class="card">
    <f:if condition="{product.media}">
        <f:media file="{product.media.0}" class="card-img-top" />
    </f:if>
    <div class="card-body">
        <h2 class="card-title">
            {product.title}
        </h2>
        <span class="card-body">{product.price} €<br />{product.sku}</span>
    </div>
</div>

<f:link.action action="edit" arguments="{product: product}">Editieren</f:link.action>
<f:link.action action="delete" arguments="{product: product}">Löschen</f:link.action>

</html>