<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:product="http://typo3.org/ns/Kurs/Products/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:flashMessages />

<f:form action="import">
    <f:form.textfield name="endpoint" value="https://dummyjson.com/products" />

    <f:form.submit value="Importieren" />
</f:form>

</html>